server {
    listen {{ default_port }};
    server_name {{ server_name }}.{{ domain }};

    root /var/www/{{ server_name }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    error_page 404 /404.html;
    location = /404.html {
        internal;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        internal;
    }

    access_log /var/log/nginx/{{ server_name }}/access.log;
    error_log /var/log/nginx/{{ server_name }}/error.log;
}
